/**
 *  Created on : 15.06.2015, 0:19:27
 *  Author     : Tom.Yum. (Artem Khmilevskiy)
 *  Site: https://github.com/TomYum/ty-push-menu
 *  Issues https://github.com/TomYum/ty-push-menu/issues
 */


$positions : top left bottom right;

$wrapper-padding-top: 10px;
$wrapper-padding-bottom: 10px;
$wrapper-padding-left: 5px;
$wrapper-padding-right: 5px;

$item-font-size: 1.25rem;
$item-color: #ffafaf;


@mixin position($p){
    #{$p}: 0px;
    margin-#{$p}: 0px; 
}




$color-dark-grey: #454545;


@each $pos in $positions {
    /*
        @keyframes menu-slide-to-#{$pos} {
            0% { margin-#{$pos}: -100%; }
            85% { margin-#{$pos}: -10%; }
            95% { margin-#{$pos}: 2%; }
            96% { margin-#{$pos}: -2%; }
            97% { margin-#{$pos}: 1%; }
            98% { margin-#{$pos}: -1%; }
            99% { margin-#{$pos}: 0%; }
            100% { margin-#{$pos}: 0%; }
        }
        /**/

    .ty-pushmenu-#{$pos} {
        @include position($pos);
    }

}





.ty-pushmenu-wrapper{
    background: $color-dark-grey;
    padding: 0;
    max-width: 33%;
    display: inline-block;
    height: 100%;
    min-height: 100%;
    //display: none;

    ul {
        display: inline-block;
        width: 100%; 
        max-width: 100%;
        list-style: none;
        background: #234567; 
        marginL: 0px;
        padding: 0px;

        li {
            font-size: $item-font-size;
            color: $item-color;            
        }

        a {
            font-size: inherit;
            color: inherit;
            text-decoration: none;
        }

    }

    li ul { display: none }

}


.ty-pushmenu-icon {
    display: inline-block;     
}


.ty-pushmenu-show{
    display: block !important;
}














