/**
 *  Created on : 15.06.2015, 0:19:27
 *  Author     : Tom.Yum. (Artem Khmilevskiy)
 *  Site: https://github.com/TomYum/ty-push-menu
 *  Issues https://github.com/TomYum/ty-push-menu/issues
 */


$positions : top left bottom right;

@mixin position($p){
    #{$p}: 0px;
    margin-#{$p}: -100%; 
}

$color-dark-grey: #454545;


@each $pos in $positions {
    /*
        @keyframes menu-slide-to-#{$pos} {
            0% { margin-#{$pos}: -100%; }
            85% { margin-#{$pos}: -10%; }
            95% { margin-#{$pos}: 2%; }
            96% { margin-#{$pos}: -2%; }
            97% { margin-#{$pos}: 1%; }
            98% { margin-#{$pos}: -1%; }
            99% { margin-#{$pos}: 0%; }
            100% { margin-#{$pos}: 0%; }
        }
        /**/

    .ty-pushmenu-#{$pos} {
        @include position($pos);
    }

}





.ty-pushmenu-wrapper{
    background: $color-dark-grey;
    display: none;

}


.ty-pushmenu-icon {
    display: inline-block;     
}


.ty-pushmenu-show{
    display: block !important;
}